package components

templ Input(name, inputType, placeholder string) {
	<input
		type={ inputType }
		class="block w-full rounded-md border-0 py-1.5 text-background shadow-sm ring-1 ring-inset ring-ring placeholder:text-muted focus:ring-2 focus:ring-inset focus:ring-primary sm:text-sm sm:leading-6"
		placeholder={ placeholder }
		name={ name }
	/>
}
